@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}
body{
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}
header{
	margin: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
}
a{
	text-decoration: none;
}
header .logo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;
}
.logo .nome{
	font-size: 25px;
	color: #000;
	font-weight: 300;
}
.logo .sobrenome{
	font-size: 14px;
	color: #000;
	font-weight: 300;
}
.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.menu li{
	list-style: none;
}
.menu li a{
	padding: 5px 15px;
	font-size: 16px;
	color: #000;
	font-weight: 300;
}
.menu li a:hover{
	background-color: #eee;
	transition: 0.5s;
}
section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 10%;
	margin-top: 30px;
}
section h1{
	margin-top: 10px;
	padding: 10px 10px;
	font-size: 30px;
	letter-spacing: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	font-weight: 300;
}
.principal{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2%;
	height: 100%;
	padding-bottom: 20px;
	border-bottom: 2px solid #ddd;
}
.biograph{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	width: 49%;
	padding: 30px 30px;
	background: #eee;
	height: 700px;
}
.biograph p{
	letter-spacing: 5px;
	font-size: 22px;
	margin-bottom: 40px;
}
.biograph span{
	margin-bottom: 40px;
	width: 60%;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
}
.photo{
	padding: 5px;
	width: 49%;
}
.photo img{
	width: 100%;
	height: 700px;
}
.premios{
	margin-top: 40px;
	padding: 10px 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.p1{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.p1 p{
	margin-bottom: 40px;
	font-size: 20px;
}
.p1 span{
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 19px;
	font-weight: bold;
}
.p1 a{
	text-decoration: none;
	color: #000;
	margin-bottom: 40px;
	font-weight: 300;
}
.p2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.p2 p{
	margin-bottom: 40px;
	font-size: 20px;
}
.p2 span{
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 19px;
	font-weight: bold;
}
.p2 a{
	text-decoration: none;
	color: #000;
	margin-bottom: 40px;
	font-weight: 300;
}
footer{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
	flex-direction: column;
	padding: 10px 0;
}
footer span{
	font-size: 18px;
	font-weight: 300;
}
footer p{
	font-size: 18px;
	font-weight: 300;
}