@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}
body{
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}
header{
	margin: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
}
a{
	text-decoration: none;
}
header .logo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;
}
.logo .nome{
	font-size: 25px;
	color: #000;
	font-weight: 300;
}
.logo .sobrenome{
	font-size: 14px;
	color: #000;
	font-weight: 300;
}
.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.menu li{
	list-style: none;
}
.menu li a{
	padding: 5px 15px;
	font-size: 16px;
	color: #000;
	font-weight: 300;
}
.menu li a:hover{
	background-color: #eee;
	transition: 0.5s;
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 10%;
}
main h1{
	margin-top: 10px;
	text-align: center;
	padding: 10px 10px;
	font-size: 30px;
	letter-spacing: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	font-weight: 300;
}
section{
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	padding: 10px 10%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.estudio{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}
.estudio p{
	font-size: 18px;
}
.estudio span{
	text-align: center;
	margin-top: 20px;
	font-weight: 300;
	font-size: 16px;
}
.representado{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
.representado p{
	font-size: 18px;
}
.representado span{
	text-align: center;
	margin-top: 20px;
	font-weight: 300;
	font-size: 16px;
}
.formulario{
	padding: 10px;
	width: 60vw;
}
form{
	padding: 20px;
}
form p{
	display: flex;
	gap: 2%;
	justify-content: center;
	align-items: center;
}
form input{
	width: 49%;
	height: 45px;
	background: none;
	border-bottom: 1px solid #000;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	text-align: center;
	font-size: 16px;
	margin-bottom: 40px;
	font-weight: 300;
}
input::placeholder{
	font-size: 16px;
	text-align: center;
	font-weight: 300;
	color: #000;
}
textarea{
	width: 100%;
	height: 150px;
	border: 1px solid #000;
	background: none;
	outline: none;
	text-align: center;
	padding-top: 10px;
	font-size: 16px;
	font-weight: 300;
}
textarea::placeholder{
	font-size: 16px;
	text-align: center;
	font-weight: 300;
	color: #000;
}
button{
	width: 100%;
	border: 1px solid #000;
	border-top: none;
	padding: 10px;
	font-size: 18px;
	font-weight: 300;
	background: none;
}
button:hover{
	cursor: pointer;
	background: #d3d3d3;
	transition: all 0.6s;
}
.icons{
	display: flex;
	margin-top: 30px;
	margin-bottom: 50px;
}
.icons img{
	object-fit: cover;
	width: 25px;
	height: 25px;
	margin-left: 20px;
}
footer{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
	flex-direction: column;
	padding: 10px 0;
}
footer span{
	font-size: 18px;
	font-weight: 300;
}
footer p{
	font-size: 18px;
	font-weight: 300;
}