@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}
body{
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}
header{
	margin: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
}
a{
	text-decoration: none;
}
header .logo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;
}
.logo .nome{
	font-size: 25px;
	color: #000;
	font-weight: 300;
}
.logo .sobrenome{
	font-size: 14px;
	color: #000;
	font-weight: 300;
}
.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.menu li{
	list-style: none;
}
.menu li a{
	padding: 5px 15px;
	font-size: 16px;
	color: #000;
	font-weight: 300;
}
.menu li a:hover{
	background-color: #eee;
	transition: 0.5s;
}
.container{
	padding: 10px 10%;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 100%;
}
.container h1{
	margin-top: 10px;
	padding: 10px 10px;
	font-size: 30px;
	letter-spacing: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	font-weight: 300;
}
.images-box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.imagem{
	margin: 10px 15px;
	overflow: hidden;
}
.imagem img{
	width: 350px;
	height: 500px;
	object-fit: cover;
}
.imagem img:hover{
	transform: scale(1.1);
	transition: all 0.6s;
	cursor: pointer;
}
footer{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
	flex-direction: column;
	padding: 10px 0;
}
footer span{
	font-size: 18px;
	font-weight: 300;
}
footer p{
	font-size: 18px;
	font-weight: 300;
}